*{
	padding: 0;
	margin: 0;
}

@font-face{
	font-family: "Apple Garamond";
	src: url(fontes/AppleGaramond.ttf);
}

@font-face{
	font-family: "Apple Garamond Light";
	src: url(fontes/AppleGaramond-Light.ttf);
}

html, body{ max-height: 100%; }

body{
	background: #F5A9A9; 
	font-family: "Apple Garamond", Garamond, serif;
	font-size: 22px;
}

ul li{
	margin: 1px 0;
	list-style: none;
}

#tudo{
	min-height: 100%;
	position: relative;
}

#painel{
	top: 0;
	width: 100%;
	background: #E0F8F1;
	position: fixed;
	border-bottom: 3px solid #BDBDBD;
	padding: 5px;
	margin-left: auto;
	margin-right: auto; 
}

#logo{
	text-align: center;
	font-size: 35px;
}

#menu{
	font-family: Apple Garamond Light;
	font-size: 22px;
	font-weight: 605;
	background: #A9A9F5;
	text-align: center;
	padding: 1px 0;
	left: 0;
	position: fixed;
	height: 25px;
	width: 100%;
}

#area_principal{
	padding: 10px 10px 50px 10px;
	max-width: 720px;
	margin: auto;
	margin-top: 85px;
}

@media(max-width: 300px){
	#menu{
		height: 50px;
	}

	#area_principal{
		margin-top: 95px;
	}
}

h2{ margin-bottom: 5px; }

#postagem{
	background: #FFF;
	padding: 10px;
	margin: 10px;
	margin-bottom: 15px;
	overflow: auto;
}

#lista{
	background: #FFF;
	padding: 10px 20px;
	margin: 10px;
	margin-bottom: 20px;
	position: relative;
	left: 50%;
}

#contatos{
	background: #FFF;
	padding: 10px 20px;
	margin: 10px;
	margin-bottom: 20px;
}

#fones{
	font-size: 30px;
	float: right;
	position: relative;
	right: 25%;
	/*text-align: center;*/
}

#borda_img{
	border: 1px solid #BDBDBD; 
	padding: 2px;
	width: 150px;
	height: 150px;
	margin: 5px;
	left: 5px;
	border-radius: 50%;
}

@media(max-width: 480px){
	.borda_img{
		padding-left: auto;
		padding-right: auto;
		float: none;
		display: block;
	}	

	#fones{
		padding-left: auto;
		padding-right: auto;
		float: none;
		position: static;
	}

	.contatos{
		height: 100%;
		padding: 20px 20px;
	}
}

.rodape{
	bottom: 0;
	width: 100%;
	height: 25px;
	padding: 5px 0; 
	background: #A9F5A9;
	font-size: 16px;
	text-align: center;
}

.rodape-hi{ position: absolute; }

.rodape-lo{ position: absolute; }

.rodape-lo,
.rodape-hi{
	content: "";
	display: table;
	clear: both;
}


@media(max-width: 300px){
	.rodape-lo{
		position: absolute;
	}

	#area_principal{
		padding-bottom: 80px;
	}
}

@media(min-width: 300px){
	.rodape-lo{
		position: fixed;
	}
}

a{
	text-decoration: none;
	padding: 1px 10px;	
}

a:link{
	color: #FF4000;
}

a:visited{
	color: #FF4000;
}

a:hover{
	color: #FFF;
	background: #FE9A2E;
}

a.logo_link:hover{
	background: #E0F8F1;
}

a:active{
	color: #0B610B;
}

.clear{
	clear: both;
}

.preco{
	font-size: 16px;
	font-weight: 600;
	color: blue;
	margin-top: 10px;
	padding-left: 5px;
	border-left: 5px solid red;
	text-align: right;
}

.roxo{
	color: #8000FF;
}

.marrom{
	color: #8A2908;
}

.img_post{
	display: block;
	float: left;
	margin: 5px 5px 1px 0;
	padding: 2px;
	border: 1px solid #BDBDBD;
}
